/* SWITCH TO GRID LAYOUT */
.srclist-wrapper {
  margin-top: 0 !important;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-family: 'nyt-franklin', helvetica, arial, sans-serif !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  color: #444;
  width: calc(100% - 40px);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.srclist-wrapper em {
  font-weight: 600;
}

.srclist-wrapper summary:focus {
  outline: none;
}

.scitimes-srclist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  margin: 5px 0 15px 0;
}

.scitimes-srclist .scitimes-source {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #0000001f;
  border-radius: 4px;
  padding: 5px;
}

.scitimes-srclist .src-title {
  text-transform: initial;
  font-size: .85em;
}

.scitimes-loader {
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 5px;
  width: 15px;
  height: 15px;
  border: 2px solid #eee;
  border-top: 2px solid #888;
  border-radius: 50%;
  animation: spin 1.5s ease-out infinite;
}

@keyframes spin {
  0% { transform: rotate(200deg); }
  100% { transform: rotate(560deg); }
}
